.images-div {
  position: relative;
  flex: 1;

  .girl {
    width: 110%;
    position: relative;
    left: -30%;
  }
  .shadow {
    position: absolute;
    top: -50%;
    left: -90%;
    width: 170%;
  }
}
